.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.product img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
}

.product h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product p {
  font-size: 14px;
  color: #1d1616;
}

.product button {
  background-color: #2614c4;
  color: #f8f7f7;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}